

body{
	background-color: #f7f7f7;
	touch-action auto;
	font-family: 'Montserrat', sans-serif;
	
}

.mont-reg{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.mont-light{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.logo-div{
	margin-top: 100px;

}

.blue-btn:hover{
-webkit-box-shadow: 0px 10px 20px -10px rgba(0,144,234,1);
-moz-box-shadow: 0px 10px 20px -10px rgba(0,144,234,1);
box-shadow: 0px 10px 20px -10px rgba(0,144,234,1);
}

.login-logo{

	height: 32px;
	margin-top: 50px;
}

.content{
	margin-top: 5%;
	 width: 410px;
    margin-left: auto;
    margin-right: auto;
    display: block;


}

.form-div{
	    margin-top: 12px;
}

.login-div{
	background-color: white;
	    box-shadow: 0px 1px 25px 3px rgba(226, 225, 225, 0.4);
	border-radius: 15px;

}

.login-info-text{
padding: 30px 0px;
    font-size: 30px;
    color: #424242;
    text-align: center;

}

.login-sub-text{
	
	font-size: 16px;
	color: #929292 ;
	text-align: center;
	margin-top: -10px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 2.5em 0;
    padding: 0;
}

.footer-link{
	margin: 20px 0;
	margin-left: 15px;
}

.footer-link>ul>li{
	margin: 10px 1.6% 10px 0%;
	
	font-weight: bold;
	color: #424242;
	font-size: 14px;
	text-decoration: none;
	text-align: left;
}

.disc-div{
	    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.social-media>a{
margin-left: 0%;
margin-right: 20%;
}

.social-links>li{
	    margin: 0px 14px;
}


#email,#password{
	    border: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 4%;
    font-size: 16px;
    
    font-weight: bold;
}

a:hover{
	text-decoration: none;
}

#trbl-log{
	    color: #00AF64;
    
    font-weight: bold;
    text-align: center;
    margin-left: 160px;
    margin-top: -14px;
    font-size: 12px;
}

.blue{
	color: #00AF64;
}

#gen_rep{
	font-size: 20px;

}

#login-btn,#signup-btn{
    background-color: #00AF64;
    border-color: #00AF64;
    font-size: 18px;
    margin: 50px auto 80px;
    /* padding: 10px 35px; */
    width: 30%;
    height: 44px;
    border-radius: 25px;
}

#signup-btn{
    padding: 10px 35px;
    margin-bottom: 38px;
}

#disc-text{
	
	color: #929292;
	font-weight: bold;
	margin : 10px 0;
	font-size: 13px;
}

#copyright-text{
	
	color: #929292;
	text-align: right;
}


/* css for register page*/

label{
	margin: -5px 0;
	    color: #00AF64;
}


.ind-radio-div{
	text-align: center;
	background-color: white;
	
	font-weight: bold;
}

.ind-radio-div span:hover{
	cursor: pointer;
}

.cor-radio-div span:hover{
	cursor: pointer;
}


.ind-radio-div span{
		margin: 0px;
		padding: 4px 25px;
		border: 2px solid #00AF64;
		border-radius:3px;
		border-right: none;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
}

.cor-radio-div {
	background-color: white;
	margin-left: 0px;
	
	font-weight: bold;


}

.cor-radio-div span{
		margin: 0px;
		padding: 4px 25px;
		border: 2px solid #00AF64;
		border-radius:3px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
}

.radio-divs{
	margin-left: 147px;
	margin-top:20px;
}

.radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: -4px;
}

.modal-header {
    padding: 15px;
    border-bottom: none;
}

.modal-title{
	text-align: center;
	
	color: #797979;
}

.modal-backdrop{
	background-color: white;
	opacity: 0.7;
}

.modal-backdrop.in {
    opacity: 0.95;
}


.modal-dialog{
	margin-top: 12%;
	width: 600px;
}

.modal-content {
    /* -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); */
    box-shadow: 0 1px 15px rgba(169, 169, 169, 0.5);
    border:none;
}

.otp-modal-body{
		    margin-top: -20px;
}

.otp-form-group{
	margin-left: 28%;
}

.otp-field{
    border: none;
    border-bottom: 2px solid #B8B8B8;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 70%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 4%;
    font-size: 30px;
    
    font-weight: bold;
    text-align: center;
    color: #65666B;

}

.otp-row{
	margin: 10px 0px;
}

.verify-btn{
	background-color: #00AF64;
	border-color: #00AF64;
	color: white;
	
	padding: 8px 30px;
	margin-bottom: 20px;
}

.verify-btn:hover{
		background-color: #00AF64;
	border-color: #00AF64;
}

.verify-btn:active{
		background-color: #00AF64;
	border-color: #00AF64;
}
		
	#acc-type{
		color: #929292;
		text-align: center;
		
		font-weight: bolder;
		font-size: 18px;
	}
#name,#password,#email,#pan,#mobile{
	    border: none;
    border-bottom: 1px solid #b7b7b7;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 65%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 8%;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    font-weight: 400;
}

#we-have{
    font-size: 24px;
    text-align: center;
    
    color: #65666B;
}

#sms{
	    font-size: 18px;
    text-align: center;
    
    color: #65666B;
    font-weight: bold;
}

#didn-t{
	    font-size: 18px;
    text-align: center;
    
    color: #797979;
    margin-top: 30px;
    margin-bottom: 20px;
}

#resend{
		color: #00AF64;
}


input[type=radio]{
	visibility: hidden;
}

input[type="radio"]:checked + label span.radio {
    background-color: #00AF64;
    color: white;
}

.logo{
	height: 28px;
}

/**/