#contentbar{
	min-height: 81vh;
	margin-left: 20px;
}

#header{
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
}

#sector-text-container{
	background-color: white;
	height: 80vh;
	box-shadow: 0px 1px 25px 3px rgba(226, 225, 225, 0.4);
    border-radius: 8px;
}

.inner-header{
    font-size: 16px;
    padding-left: 25px;
    font-weight: 500;
    /* color: #777777; */
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
    margin-top: 15px;
}

.total{
	background-color: #F1F8FD;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
}

#sector-chart,#category-alloc{
	height: 40vh;
	background-color: white;
	border-radius: 8px;
	margin: 0px 0px 5px;
	box-shadow: 0px 1px 25px 3px rgba(226, 225, 225, 0.4);

}

#category-alloc{
	height: 40vh;
}

.table-bordered {
    border: 1px solid #ddd;
    border-top: none;
    margin-top: -10px;
    border-left: none;
    border-right: none;
}

#sector-pie-chart{
	height: 220px !important;
	width: 500px !important;
	margin: 0px auto;
	margin-top: -25px;

}