#ticket-header{
	width: 90% !important;
	padding: 10px 0px;
    background-color: #E9E9E9;
    border-radius: 5px;
}

#ticket-content-holder{
	width: 90%;
	border-radius: 10px;
	background-color: white;
	/*padding: 10px 0px;*/
	margin: 20px auto;
    box-shadow: 0px 5px 20px rgba(176,176,176,0.2);
}

#top-header{
	width: 90%;
	padding: 15px 15px;
}

#top-header p span{
	font-weight: bold;
	font-size: 22px;

}

#header-holder p{
	font-weight: bold;
	margin-bottom: 0px;
	padding: 5px 0px;
}

#header-holder p span{
	margin-right: 10px;
}

.padding-l-zero{
	padding-left: 0px;
}

.company-name-holder{
	    margin: 20px 0px;
    border-right: 1px solid #e6e6e6;
}

.ticket-status,.etc{
	    font-size: 18px;
    font-weight: bold;
}

.etc{
	color: #FF5252 !important;
	font-weight: bold;
	font-size: 14px;
	margin-top: 30px;
}

.hold{
	color: #F88407 !important;
}

.red-left-border{
	    border-left: 12px solid #ff5252;
}

.priority-label{
	height: 30px;
    display: inline-block;
    width: 30px;
    text-align: center;
    background-color: #e6e6e6;
    padding-top: 5px;
    border-radius: 50px;
}


#add-ticket{
	float: right;
	background-color: #00AF64;
	border-color: #00AF64;
	border-radius: 50px;
}

.dropdown-menu {
    padding: 0px;
    margin: 0px;
    min-width: 125px;
    /* margin-left: 20px; */
    right: 0px !important;
    left: auto;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    position: absolute;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid rgba(234, 234, 234, 0.5);
    border-right: none !important;
    border-left: none !important;
    position: absolute;
}

.dropdown-menu>li>a{
	padding: 10px !important;
	font-weight: bold;
}

.red{
	color: #ff5252 !important;
}

#filter-dropdown{
	padding: 0px;
    margin: 0px;
    min-width: 125px;
    margin-left: 20px;
    right: 0px !important;
    left: 0;
}

#filter-dropdown li a{
	text-align: left;
	padding-left: 20px !important;
	/*display: inline-block;*/
}

#filter-btn{
	    width: 125px;
    margin-left: 20px;
    background-color: white;
    color: #555 !important;
    border-color: transparent !important;
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding-bottom: 0px; 
}

.f-hold{
	border-left: 3px solid #F88407;
}

.f-resolved{
	border-left: 3px solid #3EC963;
}

.f-progress{
	border-left: 3px solid #00AF64;
}

.f-all{
	border-left: 3px solid #CCCCCC;
}

.resolved{
	color: #3EC963;
}

.in-progress{
	color: #00AF64;
}

.no-ticket-p{
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    font-weight: 500;
    background: whitesmoke;
    padding-bottom: 20px;
    margin: 20px;
}

.data_state{
    word-break: break-word;
}

#newuser{
    float: right;
    margin-right: 52px;
    color: #00AF64;
    font-size: inherit;
    font-weight: 600;
}

.input-field{
    width: 25px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}